.selecVert{
    display: flex;
    flex-direction: column;
    width: 140px;
    height: 150px;
    align-items:center;
    justify-content: space-evenly;
    position: relative;
    margin-top: -230px;
    color: white;
    cursor: pointer;
}
.order{
    color: white;
    width: 140px;
    height: 50px;
    position: absolute;
    margin-top: 380px;
    cursor: pointer;
}

.order2{
    color: white;
    width: 140px;
    height: 50px;
    position: absolute;
    margin-top: 500px;
    cursor: pointer;
}