.selecVert{
    display: flex;
    flex-direction: column;
    width: 140px;
    height: 100px;
    align-items:center;
    justify-content: space-evenly;
    position: relative;
    margin-top: -290px;
    color: white;

}
.order{

    color: white;
    width: 140px;
    height: 20px;
    position: absolute;
    margin-top: 450px;
}

.order2{

    color: white;
    width: 140px;
    height: 20px;
    position: absolute;
    margin-top: 600px;
}

.orderAlph{

    cursor: pointer;
}

.orderAttack{

    cursor: pointer;
}