.headerContainer{
    display: flex;
    flex-direction: row;
    justify-content:space-evenly;
    align-items: center;
    height: 90px;
    margin-top: 5px;
}

.btnera{
    align-items: center;
    width: 200px;
    height: 50px;
}