.Nav{
    background-color: #130b0b;
    border-radius: 1rem;
    border: #212121 0.2rem solid;
    display: flex;
    flex-direction: row;
    justify-content:space-evenly;
    align-items: center;
    width: 150px;
    height: 450px;
    margin-top: 40px;
    margin: 10px; 
    color:antiquewhite;
}

.btn{
    margin-left: -90px;
    margin-top: -50px;
}

